.todolist {
  display: flex;
  gap: 2rem;

  .item {
    background: var(--ion-card-background);
    padding: 2rem;
    flex: 1;
    min-width: 200px;
  }
}

form {
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    .form-control {
      display: flex;
      flex-direction: column;
    }
  }
}
