<div>
  <section class="todolist">
    <div class="item" *ngFor="let item of todoList; index as i">
      <h2>{{item.title}}</h2>

      <p>{{ item.desc }}</p>

      <ion-button (click)="onDelete(item.id)">Delete</ion-button>
    </div>
  </section>

  <div>
    <ion-button (click)="onToggleCreateForm()"
      >{{ isShowCreateForm ? 'Close' : 'Open' }}</ion-button
    >
  </div>

  <todo-action-modal>
    
  </todo-action-modal>

  <form *ngIf="isShowCreateForm" [formGroup]="taskForm" (ngSubmit)="onSave()">
    <h3>Create new task</h3>

    <section class="form-group">
      <div class="form-control">
        <label
          >Title
          <input type="text" formControlName="title" />
        </label>

        <small *ngIf="f.title.touched && f.title.invalid" [ngClass]="'error'"
          >Invalid</small
        >
      </div>

      <label
        >Description
        <input type="text" formControlName="desc" />
      </label>
    </section>

    <div>
      <ion-button type="submit" [disabled]="taskForm.invalid">Save</ion-button>
    </div>
  </form>
</div>
