<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <!-- TODO create new component -->

  <div>
    <ion-input
      label="Email"
      type="email"
      placeholder="Input email"
      formControlName="email"
    />

    <ion-text *ngIf="f.email.touched && f.email.invalid" color="danger"
      >Invalid</ion-text
    >
  </div>

  <div>
    <ion-input
      label="Password"
      type="password"
      placeholder="Input password"
      formControlName="password"
      (change)="validateConfirmPass()"
    />

    <ion-text *ngIf="f.password.touched && f.password.invalid" color="danger"
      >Invalid</ion-text
    >
  </div>

  <div>
    <ion-input
      label="Confirm Passowrd"
      type="password"
      placeholder="Input confirm password"
      formControlName="confirmPassword"
      (change)="validateConfirmPass()"
    />

    <ion-text
      *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid"
      color="danger"
      >Invalid</ion-text
    >
  </div>
</form>
