<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <text-input
    label="Email"
    type="email"
    placeholder="Input email"
    name="email"
    [formGroup]="registerForm"
  />

  <div>
    <text-input
      label="First Name"
      placeholder="Input First Name"
      type="text"
      name="firstName"
      [formGroup]="registerForm"
    />

    <ion-text *ngIf="f.firstName.touched && f.firstName.invalid" color="danger"
      >Invalid</ion-text
    >
  </div>

  <div>
    <ion-input
      label="Last Name"
      placeholder="Input Last Name"
      type="text"
      formControlName="lastName"
    />

    <ion-text *ngIf="f.lastName.touched && f.lastName.invalid" color="danger"
      >Invalid</ion-text
    >
  </div>

  <div>
    <ion-input
      label="Password"
      type="password"
      placeholder="Input password"
      formControlName="password"
      (change)="validateConfirmPass()"
    />

    <ion-text *ngIf="f.password.touched && f.password.invalid" color="danger"
      >Invalid</ion-text
    >
  </div>

  <div>
    <ion-input
      label="Confirm Passowrd"
      type="password"
      placeholder="Input confirm password"
      formControlName="confirmPassword"
      (change)="validateConfirmPass()"
    />

    <ion-text
      *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid"
      color="danger"
      >Invalid</ion-text
    >
  </div>
</form>
